{% if object.is_forming %}
    <a href="{% url 'orders:order_forming_complete' object.pk %}"
       class="btn btn-warning btn-round form-control last">
        совершить покупку
    </a>
    <a href="{% url 'orders:order_delete' object.pk %}"
       class="btn btn-default btn-round form-control last">
        удалить
    </a>
{% endif %}

<a href="{% url 'orders:index' %}"
   class="btn btn-info btn-round form-control last">
    к списку заказов
</a>
<a href="{% url 'main:index' %}"
   class="btn btn-default btn-round form-control last">
    на главную
</a>
