{% extends 'mainapp/base.html' %}

{% block container %}
    <div class="hero">
        {% include 'mainapp/includes/inc__main_menu.html' %}
        <h1>наши контакты</h1>
    </div>

    {% if locations %}
        <div class="location">
            {% for item in locations %}
                <div class="location-1">
                    <i class="fa fa-map-marker fa-5x"></i>
                    <h4>{{ item.city }}</h4>
                    <div class="contacts">
                        <h5>Телефон</h5>
                        <p>{{ item.phone }}</p>
                    </div>
                    <div class="contacts">
                        <h5>Email</h5>
                        <p>{{ item.email }}</p>
                    </div>
                    <div class="contacts">
                        <h5>Адрес</h5>
                        <p>{{ item.address }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>Данных нет</h3>
    {% endif %}
{% endblock %}
