{% extends "ordersapp/base.html" %}
{% load static %}
{% load my_tags %}

{% block container %}
    {% include 'ordersapp/includes/inc__order_summary.html' %}
    <div class="basket_list">
        {% for item in object.orderitems.all %}
            <div class="basket_record">
                <img src="{{ item.product.image|media_folder_products }}"
                     alt="{{ item.product.short_desc }}">
                <span class="category_name">{{ item.product.category.name }}</span>
                <span class="product_name">{{ item.product.name }}</span>
                <span class="product_price">{{ item.product.price }}&nbspруб</span>
                <span class="product_quantitiy">x {{ item.quantity }} шт.</span>
                <span class="product_cost"> = {{ item.product_cost }}&nbspруб</span>
            </div>
        {% endfor %}
    </div>
    {% include 'ordersapp/includes/inc__order_actions.html' %}

{% endblock %}
